<% r=Restaurant.find_by(id: @rest_id) %>
<html>
  <head>
    <style>
    form {float: right;}
    </style>
    <title>
      <%= "#{r.name} -- HELP! Bad Restaurants in New York City" %>
    </title>
  </head>
    <body>
    <div id="main_list">
      <h2><%= r.name %></h2>
      <h3><%= r.phone_num %></h3>
      <h3><%= r.address %></h3>
      <h3>Violation points: <%= r.score %></h3>
      <h3>Grade: <%= 
        if r.grade == "B"
          "<img src=\"/img/b.jpg\">"
        elsif r.grade == "C"
          "<img src=\"/img/c.jpg\">"
        else
          "<img src=\"/img/pending.jpg\">"
        end %>
      </h3>
      <ol>
        <% r.violations.each do |vio| %>
          <li><a href="/violation/<%=vio.id%>"><%= vio.description %></a></li>
        <% end %>
      </ol>
      <div id="form">
          <%= erb :form %>
      </div>
    </div>
  </body>
</html>