<% r=Restaurant.find_by(id: @rest_id) %>
<html>
  <head>
 <link href='/profiles.css' rel='stylesheet' type='text/css'>
    <title>
      <%= "#{r.name} -- HELP! Bad Restaurants in New York City" %>
    </title>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALUMEVvLlZ-4U2LSSVm3LhwtjbIO223qY&sensor=false">
  </script>    
  </head>
    <body>
    <div class="_page">
      <h2><%= r.name %></h2>
      <h3><%= r.phone_num %></h3>
      <h3><%= r.address %></h3>
      <% r.cuisines.each do |c| %>
      <h3><%= c.description %></h3>
      <% end %>
    </div>
    <br/>
    <div class="_list">
      <h3>Violation points: <%= r.score %></h3>
      <h3><%= 
        if r.grade == "B"
          "<img src=\"/img/b.jpg\">"
        elsif r.grade == "C"
          "<img src=\"/img/c.jpg\">"
        else
          "<img src=\"/img/pending.jpg\">"
        end %>
      </h3>
      <ol>
        <% r.violations.each do |vio| %>
          <li><a href="/violation/<%=vio.id%>"><%= vio.description %></a></li>
        <% end %>
      </ol>
    </div>

      <div id="form">
        <%= erb :form %>
      </div>
  </body>
</html>