<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALUMEVvLlZ-4U2LSSVm3LhwtjbIO223qY&sensor=false">
  </script>
  <style>
    #map-canvas { height: 400px; width: 600px }
    #map-canvas img{ max-width: none; }
  </style>
   <script type="text/javascript">

      geocoder = new google.maps.Geocoder();

      function getCoordinates = function (address, callback) {
        var coordinates;
        geocoder.geocode({ address: address}, function (results, status) {
          coords_obj = results[0].geometry.location;
          coordinates = [coords_obj.nb,coords_obj.ob];
          callback(coordinates);
        })
      }

      function initialize() {


        var sd_arr = getCoordinates('11413 Via Playa de Cortes', function(coordinates){ console.log(coordinates) })
        var ll_sd = new google.maps.LatLng(sd_arr[0], sd_arr[1]);
        var ll_riverton = new google.maps.LatLng(43.027778, -108.395);
        var ll_ny = new google.maps.LatLng(40.67, -73.94);

        var sd_string = "<h3>San Diego, CA</h3><br><p>My hometown and where my coding adventure began";
        var riverton_string = "<h3>Riverton, WY</h3><br>My dad's hometown and my favorite, relaxing, beautiful vacation spot."
        var ny_string = "<h3>New York, NY</h3><br>My home for the last six years and the most exciting place I've ever lived."

        var sd_info = new google.maps.InfoWindow({
          content: sd_string
        });
        var riverton_info = new google.maps.InfoWindow({
          content: riverton_string
        });        
        var ny_info = new google.maps.InfoWindow({
          content: ny_string
        });

        var mapOptions = {
          center: new google.maps.LatLng(41.25, -98),
          zoom: 4
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var marker_sd = new google.maps.Marker({
          position: ll_sd,
          map: map,
          animation: google.maps.Animation.DROP,
          title: "San Diego"
        }); 

        var marker_riverton = new google.maps.Marker({
          position: ll_riverton,
          map: map,
          animation: google.maps.Animation.DROP,
          title: "Riverton"
        }); 

        var marker_ny = new google.maps.Marker({
          position: ll_ny,
          map: map,
          animation: google.maps.Animation.DROP,
          title: "New York"
        }); 

        google.maps.event.addListener(marker_sd, 'click', function() {
          sd_info.open(map,marker_sd);
        });
        google.maps.event.addListener(marker_riverton, 'click', function() {
          riverton_info.open(map,marker_riverton);
        });
        google.maps.event.addListener(marker_ny, 'click', function() {
          ny_info.open(map,marker_ny);
        });        
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  </script> 
</head>
<body>
  <div id="map-canvas"></div>
  <h1>Checking zip code <%=@zip_url%></h1>
  <p> List: </p>

  <% Restaurant.zip_list(@zip_url).each do |r| %>
  <h2><%= r.name %></h2>
  <h3><%= r.phone_num %></h3>
  <h3><%= r.address %></h3>
  <ol>
    <% r.get_violations.each do |vio| %>
      <li><%= vio %></li>
    <% end %>

    <% r.get_vio_code.each do |vio_code| %>
      <li><%= vio_code %></li>
    <% end %>
  </ol>
  <% end %>

</body>
</html>