<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALUMEVvLlZ-4U2LSSVm3LhwtjbIO223qY&sensor=false">
  </script>
  <style>
    #map-canvas { height: 400px; width: 600px }
    #map-canvas img{ max-width: none; }
  </style>
  <% coords = Geocoder.coordinates(@worst.address) %>
  <% zip_coords = Geocoder.coordinates(@zip_url) %>
  <script type="text/javascript">

      function initialize() {

        var ll_worst = new google.maps.LatLng(<%=coords[0]%>, <%=coords[1]%>);

        var worst_string = "<%= "<h3>#{@worst.name}</h3><br>Unless you love to vomit, stay away.<p>" %>";

        var worst_info = new google.maps.InfoWindow({
          content: worst_string
        });

        var mapOptions = {
          center: new google.maps.LatLng(<%=zip_coords[0]%>, <%=zip_coords[1]%>),
          zoom: 14
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var marker_worst = new google.maps.Marker({
          position: ll_worst,
          map: map,
          animation: google.maps.Animation.DROP,
          title: "Worst Restaurant"
        }); 

        google.maps.event.addListener(marker_worst, 'click', function() {
          worst_info.open(map,marker_worst);
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>
<body>
  <div id="map-canvas"></div>
  <h1>Checking zip code <%=@zip_url%></h1>
  <p> List: </p>

  <% Restaurant.zip_list(@zip_url).each do |r| %>
  <h2><%= r.name %></h2>
  <h3><%= r.phone_num %></h3>
  <h3><%= r.address %></h3>
  <ol>
    <% r.get_violations.each do |vio| %>
      <li><%= vio %></li>
    <% end %>
  </ol>
  <% end %>

</body>
</html>