<% c = Cuisine.find_by(id: @cuis_id) %>
<html>
  <head>
     <link href='/profiles.css' rel='stylesheet' type='text/css'>
  </head>
    <title>
      <%="#{c.description}" %>
    </title>
  </head>
    <body>
    <div id="form">
      <%= erb :form %>
    </div>
    <div class="_page">
      <h2>Cuisine: <%= c.description %></h2>

      <h2>Restaurants</h2>
      <% hash = c.restaurants.group_by {|r| r.zip} %>
      <% hash.sort.each do |k, v|%>
      <br/>
      <span class= "bold"><a href="/<%=k%>"><%= k %></a><br/></span>
        <%v.each do |r|%>
          <a href="/restaurant/<%=r.id%>"><%=r.name%></a><br/>
        <%end%>
      <%end%>
      </ul>
    </div>
    
  </body>
</html>