<!DOCTYPE html>
<html>
<head>
  <title>
    HELP! Bad Restaurants in New York City
  </title>  
  <link href='/profiles.css' rel='stylesheet' type='text/css'>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALUMEVvLlZ-4U2LSSVm3LhwtjbIO223qY&sensor=false">
  </script>
  <% 2.times { |i| @worst[i+1] = @worst[i] if @worst[i+1] == nil } %>
  <% coords1 = Geocoder.coordinates(@worst[0].address) %>
  <% coords2 = Geocoder.coordinates(@worst[1].address) %>
  <% coords3 = Geocoder.coordinates(@worst[2].address) %>
  <% zip_coords = Geocoder.coordinates(@zip_url) %>
  <script type="text/javascript">

      function initialize() {

        var ll_worst1 = new google.maps.LatLng(<%=coords1[0]%>, <%=coords1[1]%>);
        var ll_worst2 = new google.maps.LatLng(<%=coords2[0]%>, <%=coords2[1]%>);
        var ll_worst3 = new google.maps.LatLng(<%=coords3[0]%>, <%=coords3[1]%>);

        var worst_string1 = "<%= "<h3>#{@worst[0].name}</h3>#1 worst in #{@zip_url}<br><br>Extra 'flavor' with every meal!<p>" %>";
        var worst_string2 = "<%= "<h3>#{@worst[1].name}</h3>#2 worst in #{@zip_url}<br><br>Unless you love to vomit, stay away.<p>" %>";
        var worst_string3 = "<%= "<h3>#{@worst[2].name}</h3>#3 worst in #{@zip_url}<br><br>Food poisioning ahoy!<p>" %>";

        var worst_info1 = new google.maps.InfoWindow({
          content: worst_string1
        });
        var worst_info2 = new google.maps.InfoWindow({
          content: worst_string2
        });
        var worst_info3 = new google.maps.InfoWindow({
          content: worst_string3
        });


        var mapOptions = {
          center: new google.maps.LatLng(<%=zip_coords[0]%>, <%=zip_coords[1]%>),
          zoom: 14
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var marker_worst1 = new google.maps.Marker({
          position: ll_worst1,
          map: map,
          animation: google.maps.Animation.DROP,
          title: "#1 Worst Restaurant"
        }); 

        var marker_worst2 = new google.maps.Marker({
          position: ll_worst2,
          map: map,
          animation: google.maps.Animation.DROP,
          title: "#2 Worst Restaurant"
        }); 

        var marker_worst3 = new google.maps.Marker({
          position: ll_worst3,
          map: map,
          animation: google.maps.Animation.DROP,
          title: "#3 Worst Restaurant"
        });         

        google.maps.event.addListener(marker_worst1, 'click', function() {
          worst_info1.open(map,marker_worst1);
        });
        google.maps.event.addListener(marker_worst2, 'click', function() {
          worst_info2.open(map,marker_worst2);
        });
        google.maps.event.addListener(marker_worst3, 'click', function() {
          worst_info3.open(map,marker_worst3);
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>
<body>
  <div id="map">
    <div id="map-canvas"></div>
    <h1 id="map_caption">Disgusting restaurants for zip code <%=@zip_url%></h1>
  </div>
<div id="links">
  <%= erb :form %>
  <h3>Find by Name in <%= @zip_url %></h3>
  <% Restaurant.zip_list(@zip_url).sort {|a,b| a.name <=> b.name}.each do |r| %>
  <a href="<%= "/restaurant/#{r.id}" %>"><%= r.name %></a><br>
  <% end %>
</div>

<div id="main_list">
  <% Restaurant.zip_list(@zip_url).sort {|a,b| b.score <=> a.score}.each do |r| %>
  <h2 id="<%= r.name %>"><%= r.name %></h2>
  <h3><%= r.phone_num %></h3>
  <a href="/<%= r.zip %>"><h3><%= r.address %></h3></a>
  <% r.cuisines.each do |c| %>
    <a href="/cuisine/<%=c.id%>"><h3><%= c.description %></h3></a>
  <% end %>
  <h3><%= 
    if r.grade == "B"
      "<img src=\"/img/b.jpg\" alt=\"B\">"
    elsif r.grade == "C"
      "<img src=\"/img/c.jpg\" alt=\"C\">"
    else
      "<img src=\"/img/pending.jpg\" alt=\"Pending\">"
    end %>
    Violation points: <%= r.score %>
  </h3>
  <ol>
    <% r.violations.each do |vio| %>
      <li><a href="/violation/<%=vio.id%>"><%= vio.description %></a></li>
    <% end %>
  </ol><br>
  <% end %>
</div>
</body>
</html>